.main__container__calcPercent {
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding-bottom: 45px; 
}
.main__container__calcPercent__title {
    padding-bottom: 20px;
}
.main__container__calcPercent__content {
    max-width: 1600px;
    width: 95%;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main__container__calcPercent__section {
    display: flex;    
    gap: 30px;  
    margin-bottom: 20px;
}
.main__container__calcPercent__calculator {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;    
    gap: 10px;
    
}
.main__container__calcPercent__result {  
    border-radius: 30px;
    background-color: var(--lightBlue);
    width: 300px;
    padding: 30px;
    color: var(--whiteBlue);
}
.main__container__calcPercent__calculator__select {
    height: 35px;
}
.main__container__calcPercent__calculator__inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}
.main__container__calcPercent__calculator__value {
    height: 35px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
}
.main__container__calcPercent__calculator__button {
    width: 200px;
    height: 35px;
    background-color: var(--lightBlue);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.main__container__title {
    margin-top: 20px;
    margin-bottom: 10px;
}
.main__container__list {
    list-style-type: none;
}