.main__container__calcPercent {
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding-bottom: 45px; 
}
.main__container__calcPercent__title {
    padding-bottom: 20px;
}
.main__container__calcPercent__content {
    max-width: 1600px;
    width: 95%;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main__container__calcPercent__calculator {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
    margin-bottom: 20px;
}
.main__container__calcPercent__calculator__select {
    height: 35px;
}
.main__container__calcPercent__calculator__inputs {
    display: flex;
    gap: 10px;
}
.main__container__calcPercent__calculator__value {
    height: 35px;
    padding: 10px;
    font-size: 15px;
}
.main__container__calcPercent__calculator__button {
    width: 200px;
    height: 35px;
}