* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

:root {
    /*colors*/
    --whiteBlue: #F9F9FF;
    --blue: #3432C4;
    --lightSteelBlue: #B0C4DE;
}
body {
    position: relative;
    overflow-x: hidden;
    display: flex;    
    justify-content:space-between;
    flex-direction: column;
}