* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

:root {
    /*colors*/
    --whiteBlue: #F9F9FF;
    --blue: #3432C4;
    --lightSteelBlue: #B0C4DE;
    --lightBlue: rgb(82, 155, 238);
    --gradientBlue: linear-gradient(90deg, var(--lightBlue) 0%, #000851 100%);
    --darkBlue: #000851;
    --red: #ff0000;
}
body {
    position: relative;
    overflow-x: hidden;
    display: flex;    
    justify-content:space-between;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}