.menu__container {
    width: 100%;
    height: auto;   
    display: flex;      
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--whiteBlue);
    
}
.menu__container__content {
    max-width: 1600px;
    width: 95%;   
    display: flex;    
    gap: 3%;
    flex-wrap: wrap;
}

.menu__title {
    padding: 10px;
}
.menu__part {
    display: none;
    list-style-type: none;
}
.title__style {
    font-weight:400;
    font-size: 20px;
    font-family: 'Poiret One', sans-serif;    
}